/* перезагрузка css */
* {
  padding: 0px;
  margin: 0px;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--main-font-color);
}

/* Константы */
:root {
  --main_size_font: 1.5rem;
  --main-font-color: white;
  --second-font-color: black;
  --main-color: rgb(25, 146, 212);
  --second-color: rgb(226, 232, 240);
}

/* настройки иконок и картинок */
.icon {
  height: 1.4rem;
  align-self: center;
}

.picture {
  height: 5ch;
  align-self: center;
}
.picture_big {
  height: 8ch;
  align-self: center;
}

/* Настройка макета grid */
.content,
.sidebar,
.header,
.main_content,
.slider_top,
.content_links,
.options_links,
.header_1,
.header_2,
.header_3,
.header_4,
.cards,
.card,
.others,
.announ,
.trend,
.trend > div {
  display: grid;
}

.content {
  grid-template-areas:
    "sidebar header"
    "sidebar main_content";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

/* Элементы макета */
.sidebar {
  grid-area: sidebar;
  grid-template-rows: 1fr 8fr 14fr;
  gap: 2rem;
  background-color: var(--main-color);
  padding: 1rem 0 0 1rem;
}

.header {
  grid-area: header;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  padding: 1rem 2rem;
}

.main_content {
  grid-area: main_content;

  grid-template-columns: 3fr 1fr;
  background-color: var(--second-color);
}

/* Настройки раздела sidebar  */
.slider_top {
  font-size: calc(var(--main_size_font) * 1.5);
  padding-top: 1rem;
  grid-template-columns: 1fr 6fr;
}

.content_links {
  grid-template-rows: repeat(6, min(40px, 20%));
}

.options_links {
  grid-template-rows: repeat(auto-fill, min(40px, 20%));
}

.content_links,
.options_links {
  font-size: var(--main_size_font);
  align-content: center;
  grid-template-columns: 1fr 6fr;
}

/* Настройки раздела header  */
.header button {
  background-color: var(--main-color);
  border: none;
  border-radius: 4ch;
  height: 3rem;
  width: 100%;
  color: var(--main-font-color);
}

.header_1 {
  grid-template-columns: 1fr 9fr;
  padding: 0 1rem;
}

.header_1 img {
  justify-self: center;
}

.header_1 input {
  width: 100%;
  border-radius: 10px;
  background-color: var(--second-color);
  border: none;
  padding-left: 5px;
  height: var(--main_size_font);
}

.header_2 {
  width: 100%;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 4fr;
  padding-left: 13vw;
  gap: 5px;
}

.header_3 {
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "cat 1text"
    "cat 2text";
}

.header_3 img {
  grid-area: cat;
  justify-self: center;
}

.header_3 p {
  grid-area: 1text;
}

.header_3 h2 {
  grid-area: 2text;
}

.header_4 {
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* Настроки раздела main_content */

.cards {
  grid-template-rows: 3rem 3fr 3fr 3fr;
  grid-template-columns: 1fr 1fr;
  padding: 0 0px 10px 10px;
}

.cards > p,
.others > p {
  align-self: end;
  font-weight: bold;
  margin: 10px;
}

.card {
  background-color: white;
  border-left: 8px solid orange;
  border-radius: 5px;
  padding: 10px;
  grid-template-rows: 6rem 1fr;
  margin: 10px;
  align-items: center;
}

.card > div {
  place-self: end end;
}

.others {
  grid-template-rows: 3rem 1fr 3rem 1fr;
  padding: 0 10px 10px 0px;
}

.announ,
.trend {
  background-color: white;
  margin: 10px;
  padding: 10px 10px 0 10px;
  border-radius: 5px;
}

.trend > div {
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.hr {
  margin: 5px 0;
  height: 0;
  border: none;
  box-shadow: 0px 0px 3px 1px grey;
}

.announ p {
  font-size: 0.8rem;
}

/* Настройки ссылки для сворачивания навигации */
.disable {
  display: none;
}

/* медиа запросы */
@media (max-width: 660px), (min-width: 720px) and (max-width: 920px) {
  .sidebar {
    display: none;
  }
  .content {
    grid-template-columns: 1fr;
    height: 100vh;
    grid-template-areas:
      "header"
      "main_content";
  }
  .cards,
  .main_content {
    grid-template-columns: 1fr;
  }

  .disable {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    height: 4ch;
  }
  .show {
    display: grid;
    position: fixed;
    width: 100%;
    height: 100%;
  }
}
